
/* vietnamese */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58m-wi40.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58i-wi40.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-wg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58m-wi40.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58i-wi40.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/quicksand/v20/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58a-wg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#category, #bg-color, #bg-styles {
	width: calc(99%/3);
}
#input input {
	width: 99.2%;
	height: 25px;
}
#input input, #input select {
	margin: 1px 0;
	height: 25px;
	line-height: 25px;
}
#input {
	max-width: 900px;
	width: 100%;
	text-align: center;
}
.background {
	width: 900px;
	height: 472.5px;
	color: #fff;
	overflow: hidden;
	position: relative;
	z-index: 1;
	opacity: 1;
	visibility: visible;
	user-select: none;
}
html {
	opacity: 1
}
body {
	display: table;
	margin: 0 auto;
	font-family: Quicksand, 'Google Sans', 'Segoe UI', sans-serif;
}
footer.footer {
	margin: 50px auto;
	text-align: center;
}
footer.footer a {
	font-weight: bold;
}
#content-container{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -999;
}
#content-container::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -999;
	opacity: .10
}
#content-container.sty1::after {
	background: url(images/1.png);
}
#content-container.sty2::after {
	background: url(images/2.png);
}
#content-container.sty3::after {
	background: url(images/3.png);
}
#content-container.sty4::after {
	background: url(images/4.png);
}
#content-container.sty5::after {
	background: url(images/5.png);
}
#content-container.sty6::after {
	background: url(images/6.png);
}
#content-container.sty7::after {
	background: url(images/7.png);
}
#content-container.sty8::after {
	background: url(images/8.png);
}
#content-container.sty9::after {
	background: url(images/9.png);
}
#content-container.sty10::after {
	background: url(images/10.png);
}
#content-container.sty11::after {
	background: url(images/11.png);
}
#content-container.sty12::after {
	background: url(images/12.png);
}
#content-container.sty13::after {
	background: url(images/13.png);
}

.img-logo img {
	width: 45px;
	height: 45px;
	margin-left: 15px;
}
.elc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.content-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 50px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	max-height: 375px;
	color: #fff !important;
	opacity: 1 !important;
}
.content-title {
	font-size: 50px;
	font-family: Quicksand, 'Google Sans', 'Segoe UI', sans-serif;
	font-weight: 700;
	padding: 0 150px;
	text-shadow: 4px 2px 5px rgba(0,0,0,0.2);
	max-height: 240px;
	overflow: hidden;
	z-index: 999;
	opacity: 1;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.content-container .header-container {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.footer-container, .header-container {
	padding-top: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-family: Quicksand, 'Google Sans', 'Segoe UI', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-shadow: 4px 2px 5px rgba(0,0,0,0.2);
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 999;
}
.header-container {
	padding-top: 0;
	padding-bottom: 25px;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
}
#categories {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-transform: uppercase;
}
.blocks {
	width: 60px;
	height: 10px;
	display: inline-block;
	background: #fff;
	margin-right: 15px;
}
.separate {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
